
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <form action="/compose">
      <Button id="composeBtn" type="submit">Compose <i class="fa-regular fa-pen-to-square"></i> </Button>
  </div>
</div>
</body>
</html>
