<%- include("header") -%>
    <h1>about</h1>
    <p>fdl;asfsdl;j f;fdlsa jfkl; asjdfkl;
        sadjfhsdjkfgsh akdfsd gfkhsdf sjadhflksjhfkljsdhfkljas
        hdfjsdhfkjfjsdkl;fjsaklfjslakfjaslkdfj sklaf</p>
<%- include("footer") -%>